@page "/"

@using BlazorAuth.Components.Bases
@using MTPP5.Components
@using MTPP5.Data.Entities
@using Microsoft.EntityFrameworkCore

@inherits AuthComponentBase

<div class="d-flex flex-column">
    <div>
        <CreateRoomComponent />
    </div>
    <div class="mt-3 d-flex justify-content-between">
        <div>
            <UsersComponent />
        </div>
        <div>
            <RoomsComponent />
        </div>
    </div>
</div>


@code
{
    protected override async Task OnComponentInitializedAsync()
    {
        await base.OnComponentInitializedAsync();

        using var db = await ApplicationDbContextFactory.CreateDbContextAsync();

        var rooms = db.Rooms.ToList();
    }
}